<div class='card' style='width: 50%'>
  <img src={{cake.image}} class='card-img-top' alt='image' />
  <div class='card-body'>
    <h5 class='card-title'>{{cake.name}}</h5>
    <p class='card-text'>{{cake.description}}</p>
    <a href='/{{cake.slug}}' class='btn btn-primary'>Update</a>
  </div>
</div>
